.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #03122F;
    border-radius: 8px;
    width: 704px;
    height: 890px;
    max-width: 90%;
    padding: 2rem;
    position: relative;
    border: 3px solid #6BD1FF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.botaoFechar {
    position: absolute;
    top: 17px;
    right: -30px;
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    color: #fff;
}

.titulo {
    color: #2271D1;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 3rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
}

label {
    font-size: 1.1rem;
    font-weight: 400;
}

input,
select,
textarea {
    width: 573px;
    height: 12px;
    padding: 1.6rem;
    border-radius: 5px;
    border: 1px solid #2271D1;
    background: transparent;
    color: #fff;
}

select {
    width: 628px;
    height: 70px;
}

textarea {
    height: 67px;
    font-family: var(--fonte);
}

.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 157px;
    height: 54px;
    text-transform: uppercase;
    font-weight: 500;
}

.botaoSalvar {
    background-color: black;
    box-shadow: inset 1px 1px 7px 5px #2271d1b4;
    color: #2271D1;
    border: 2px solid #2271d1b4;
}

.botaoLimpar {
    border: 2px solid white;
    color: white;
    background-color: transparent;
}

.botaoSalvar:hover {
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: inset 1px 1px 7px 5px #2271d157
}

.botaoLimpar:hover {
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: inset 1px 1px 7px 5px rgba(255, 255, 255, 0.253)
}
