.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 7px 7px 15px 15px;
    width: 380px;
    height: auto;
    background-color: black;
}

.conteudo h3 {
    text-align: center;
    padding: 1rem 0;
}

.cardFooter {
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: .5rem 0;
    border-radius: 0 0 15px 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.cardFooter div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.deletar:hover, 
.editar:hover
{
    cursor: pointer;
    filter: brightness(0.6);
}

.cardFooter .texto {
    color: white;
}

.link {
    text-decoration: none;
    color: lightgray;
}

.link img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.link:hover {
    text-decoration: none;
    color: white;
}