.header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    background-color: black;
    border-bottom: 3px solid #2271d1;
    box-shadow: 9px 5px 15px 8px #2271d1b6;
}

.header img {
    width: 168px;
    height: 40px;
}

.header nav {
    display: flex;
    gap: 27px;
}

.header nav div {
    width: 187px;
    height: 54px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
}

.botaoHome img,
.novoVideoBotao img {
    width: 27px;
    height: 27px;
    padding: .8rem;
}

.botaoHome {
    background-color: black;
    box-shadow: inset 1px 1px 7px 5px #2271d1b4;
    color: #2271D1;
    border: 2px solid #2271d1b4;
    
}

.novoVideoBotao {
    border: 2px solid white;
    color: white;
}

.botaoHome:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: inset 1px 1px 7px 5px #2271d157
}

.novoVideoBotao:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.527);
    box-shadow: inset 1px 1px 7px 5px rgba(255, 255, 255, 0.253)
}