.cabecalho__navegacao--item--pacote {
    text-decoration: underline;
}

.destinos__titulo,
.pagamento__titulo,
.depoimentos__titulo {
    color: var(--grafite);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 64px;
}

.descricao__titulo--sublinhado,
.pagamento__titulo--sublinhado,
.depoimentos__titulo--sublinhado {
    width: 180px;
    height: 4px;
    background: var(--vermelho);
    margin: 0 auto;
    margin-top: 16px;
}

.destinos__items {
    display: flex;
    gap: 27px;
    width: 1200px;
    height: 873px;
    margin-left: 18%;
}

.destinos__item {
    flex-direction: column;
}

.destino__item--texto {
    line-height: 32px;
    font-weight: 400;
    font-size: 20px;
}

.destino__item--botao {
    border-radius: 8px;
    background: var(--vermelho, #B81515);
    padding: 16px 48px;
    box-sizing: border-box;
    display: inline-block;
}

.destino__item--botao--texto {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: var(--branco, #FFF);
}

.pagamento {
    margin-bottom: 112px;
}

.pagamento__condicoes {
    margin-left: 18%;
}

.pagamento__imagens--grupo,
.pagamento__condicoes {
    display: flex;
    gap: 24px;
}

.pagamento__condicoes--destaque {
    color: var(--grafite, #222);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.pagamento__condicoes--detalhes {
    color: var(--grafite, #222);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 384px;
    max-width: 100%;
}

.pagamento__imagens--imagem-container {
    flex: 1;
}

.pagamento__imagens--imagem-destaque {
    margin-top: 20px;
}

.pagamento__imagens--imagem {
    max-width: 100%;
}

.depoimentos {
    margin-bottom: 112px;
}

.depoimentos__wrapper {
    display: flex;
    gap: 24px;
    align-items: stretch;
}

.depoimentos__item {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 10px 100px;
    margin-bottom: 200px;
}

.depoimentos__texto {
    color: var(--grafite, #222);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.depoimentos__autor {
    margin-top: 12px;
    display: flex;
    gap: 24px;
}

.depoimentos__autor--foto {
    max-width: 86px;
}

.depoimentos__autor--nome {
    color: var(--grafite, #222);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}