.listaSuspensa {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
 
.listaSuspensa label {
    padding-bottom: .5rem;
    font-size: 20px; 
}

.listaSuspensa select {
    background-color: transparent;
    height: 77px;
    width: 760px;
    border: 2px solid rgba(168, 168, 168, 0.158);
    border-radius: 10px; 
    padding-left: 1rem;
    font-size: 20px;
    color: rgba(168, 168, 168, 0.733);
    appearance: none;
    background-image: url('../../assets/images/icon-seta.png');
    background-repeat: no-repeat;
    background-position: right 18px center;
    background-size: 16px;
}

.listaSuspensa select:focus {
    border-color: rgba(0, 0, 0, 0.24);
    outline: none;
}

option {
    padding-left: 1rem;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.733);
    background-color: rgba(0, 0, 0, 0.651);
}
