.cabecalho__navegacao--item--blog {
    text-decoration: underline;
}

.descricao {
    margin-bottom: 112px;
}

.descricao__titulo,
.posts__titulo {
    color: var(--grafite);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 64px;
}

.descricao__titulo--sublinhado,
.posts__titulo--sublinhado {
    width: 180px;
    height: 4px;
    background: var(--vermelho);
    margin: 0 auto;
    margin-top: 16px;
}

.chegada {
    display: flex;
}

.chegada__titulo--texto,
.acomodacao__titulo--texto,
.explorando__titulo--texto,
.compras__titulo--texto,
.gastronomia__titulo--texto,
.concluindo__titulo--texto,
.posts__item--texto {
    line-height: 32px;
    font-weight: 400;
    font-size: 20px;
}

.acomodacao__img {
    width: 1200px;
    height: 300px;
    margin-top: 40px;
    margin-left: 0;
}

figcaption {
    margin-top: 7px;
    font-size: 14px;
    line-height: 28px;
}

.explorando {
    margin-top: 90px;
}

.compras,
.gastronomia,
.concluindo {
    margin-top: 5%;
}

.posts__lista {
    display: flex;
    gap: 27px;
    margin-bottom: 130px;
}

.posts__item {
    flex-direction: column;
    
}

.posts__item--botao {
    border-radius: 8px;
    background: var(--vermelho, #B81515);
    padding: 16px 48px;
    box-sizing: border-box;
    display: inline-block;
}

.posts__item--botao--texto {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    color: var(--branco, #FFF);
}