.container {
    display: flex;
    justify-content: center;
    margin: 2rem 20rem 0;
    flex-direction: column;
}

.cards {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   margin-bottom: 7rem;
}
