.botao {
    font-size: 1.1rem;
    font-weight: 600;
    width: 180px;
    height: 54px; 
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    font-family: var(--fonte);
    color: white;
}
