body {
    background-color: indigo;
    color: black;
}

header > h1 {
    color: rgba(0, 0, 54, 0.616);
}

main > p {
    color: rgba(255, 255, 255, 0.384);
}

main > a {
    color: black;
    text-decoration: none;
}